{% load staticfiles %}

<!doctype html>
<html lang="us">
  <head>
    <meta charset="utf-8">
    <title>Pidrator</title>
    <script src="{% static "jquery-1.11.1.min.js" %}"></script>
    <script type="text/javascript"
        src="{% static "omnibus/omnibus.min.js" %}"></script>
  </head>

  <body>
    <h1>Pidrator</h1>

    <form id="irrigator-form">
      {% csrf_token %}
      {{ irrigator_formset.management_form }}

      {% for form in irrigator_formset %}
        {{ form.id }}

        <table>
          <tr>
            <td colspan="2"><h2>{{ form.instance.name }}</h2></td>
          </tr>

          <tr>
            <td>Current moisture ({{ form.instance.sensor.name }}):</td>
            <td class="sensor-{{ form.instance.sensor.pk }}-moisture">
              {{ form.instance.sensor.moisture }}
            </td>
          </tr>

          <tr>
            <td>Replay actuated ({{ form.instance.relay.name }}):</td>
            <td class="relay-{{ form.instance.relay.pk }}-actuated">
              {{ form.instance.relay.actuated }}
            </td>
          </tr>

          <tr>
            <td>In watering cycle ({{ form.instance.relay.name }}):</td>
            <td class="irrigator-{{ form.instance.relay.pk }}-in-watering-cycle">
              {{ form.instance.in_watering_cycle }}
            </td>
          </tr>

          <tr>
            <td>Lowest moisture:</td>
            <td>{{ form.lowest_moisture }}</td>
          </tr>

          <tr>
            <td>Watering seconds:</td>
            <td>{{ form.watering_seconds }}</td>
          </tr>

          <tr>
            <td>Timeout seconds:</td>
            <td>{{ form.timeout_seconds }}</td>
          </tr>

          <tr>
            <td>Enabled:</td>
            <td>{{ form.enabled }}</td>
          </tr>
        </table>
      {% endfor %}
    </form>

    <button id="submit-button">Submit all</button>
  </body>

  <script>
    {% include "index.js" %}
  </script>
</html>
